<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center" />

<p-dataView #dv [value]="products()" [rows]="12" [paginator]="true">
    <ng-template pTemplate="list" let-products>
        <div class="grid grid-nogutter">
            <div *ngFor="let product of products" class="sm-12 md-4 lg-4" >
                <div class="grid grid">
                    <p-card class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-1">
                        <div class="md:w-10rem relative">
                            <img class="block xl:block mx-auto border-round w-full"
                                [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                                (error)="onImageError($event)"
                                [alt]="product.name" />
                            <p-badge [value]="product.inventoryStatus"
                                [severity]="getBadgeSeverity(product.inventoryStatus)" class="absolute"
                                [style.left.px]="4" [style.top.px]="4" />
                        </div>
                        <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                        <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
                        <div class="text-sm font-medium text-600 mt-2">{{ product.description }}</div>
                        <div class="text-lg font-medium text-900 mt-2">
                            Price : <p-tag severity="warning" value="{{product.price | currency:'USD'}}" />
                        </div>

                        <div class="text-lg font-medium text-900 mt-2">
                            Rating : <p-rating [(ngModel)]="product.rating" [readonly]="true" stars="5"
                                cancel="false"></p-rating>
                        </div>
                        <ng-template pTemplate="footer">
                            <div class="flex gap-3 mt-1">
                                <p-button label="Ajouter au Panier" severity="primary"
                                    (onClick)="onAddToCart(product)" />
                                <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)" />
                                <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                            </div>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible" [style]="{ width: '50vw' }" header="Ajout/Edition produit">
    <app-product-form [product]="editedProduct()" (save)="onSave($event)" (cancel)="onCancel()" />
</p-dialog>